@font-face {
    font-family: 'Basic';
    src: url('../fonts/DM_Serif_Display/DMSerifDisplay-Regular.ttf') format('truetype')
}

.p p {
    text-align: center;
    padding-bottom:7vh;
    margin-top: 2vh;
    font-family: 'Basic', sans-serif;
    font-size: 2.5vh;
}

@media(max-width:907px){
    .p p{
        padding-bottom: 0;
    }
}
