@font-face {
    font-family: 'Crosant';
    src: url('../fonts/Croissant_One/CroissantOne-Regular.ttf') format('truetype')
}

@font-face {
    font-family: 'Basic';
    src: url('../fonts/DM_Serif_Display/DMSerifDisplay-Regular.ttf') format('truetype')
}

.setup-container {
    margin-top: -2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Basic', sans-serif;
}

.setup-container h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 4vh;
    margin-bottom: 20px;
    font-family: 'Crosant', sans-serif;
}

.form-container {
    background-color: transparent;
    border-radius: 10px;
    background-color: rgb(234, 222, 234);
    box-shadow: 0px 0px 10px rgba(57, 3, 39, 0.989);
    padding: 20px;
    margin-bottom: 2vh;
}

.form-container label {
    font-size: 3vh;
    margin-bottom: 10px;
    margin-right: 15px;
}

.form-container input[type="number"],
.form-container select,
.form-container input[type="radio"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 3vh;
    font-family: 'Basic', sans-serif;
}

.form-container input[type="radio"] {
    display: none;
}

.form-container label[for="easy"],
.form-container label[for="medium"],
.form-container label[for="hard"] {
    display: inline-block;
    margin-right: 10px;
    padding: 10px 20px;
    border: 3px solid #7d136c;
    border-radius: 5px;
    font-size: 3vh;
    cursor: pointer;
}

.form-container input[type="radio"]:checked+label {
    background-color: #70136C;
    color: #fff;
}

.start-t-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
}


.start-t-div button {
    appearance: none;
    padding: 8px 16px;
    margin: 0;
    margin-right: 3px;
    margin-bottom: 1vh;
    border: solid 2px #7d136c;
    cursor: pointer;
    font-size: 3vh;
    border-radius: 15px;
    background-color: transparent;
    color: #7d136c;
    font-family: 'Basic', sans-serif;
    font-weight: 600;
    line-height: normal;
    outline: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
    min-width: 0;

}

.start-t-div button :disabled {
    pointer-events: none;
}

.start-t-div button:hover {
    color: #fff;
    background-color: #7d136c;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.setup-container img{
    max-width: 100%;
    height: auto;
    filter: drop-shadow(6px 2px 5px rgba(254, 179, 232, 0.989));
}

.homebtn button {
    font-size: 4vh;
    border-radius: 25px;
    margin-top: 5vh;
    padding: .35em;
    background-color: #611054;
    color: #f4eff4;
    font-family: 'Crosant', sans-serif;
    border: none;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 8px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 13px 16px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: fit-content;
}
.homebtn button::after{
    background-clip: padding-box;
  background-color: #7d136c;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}
.homebtn button:focus{
    user-select: auto;
}
.homebtn button:hover:not(:disabled){
    filter: brightness(1.5);
    -webkit-filter: brightness(1.5);
}