@font-face {
    font-family: 'Basic';
    src: url('../fonts/Nanum_Gothic/NanumGothic-Regular.ttf') format('truetype')
}

@font-face {
    font-family: 'Crosant';
    src: url('../fonts/Croissant_One/CroissantOne-Regular.ttf') format('truetype')
}

@keyframes pulse {
    0% {
        transform: scale(1);
        /* Initial size */
    }

    50% {
        transform: scale(1.05);
        /* Enlarged size */
    }

    100% {
        transform: scale(1);
        /* Back to initial size */
    }
}


.image-con {
    text-align: center;
}

.tord-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: rgb(234, 222, 234);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(57, 3, 39, 0.989);
    height: auto;
    width: 90vw;
    margin-left: 3vw;
    font-family: 'Basic', sans-serif;
}

.rating {
    font-size: 3vh;
}

.rating select {
    font-size: 3vh;
    font-family: 'Basic', sans-serif;
    margin-left: 1vw;
    border-radius: 15px;
    padding: 2px 4px;
}

.btn-class {
    margin: 2vh 0vh;
    display: flex;
    flex-direction: row;
}

.btn-class button {
    font-size: 5vh;
    margin-top: 5vh;
    background-color: #611054;
    color: #f4eff4;
    font-family: 'Crosant', sans-serif;
    border: solid transparent;
    border-radius: 96px;
    border-width: 0 0 8px;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 70px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 13px 16px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-decoration: none;
}


.btn-class button::after {
    background-clip: padding-box;
    background-color: #7d136c;
    border: solid transparent;
    border-radius: 96px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.btn-class button:hover:not(:disabled) {
    filter: brightness(1.5);
    -webkit-filter: brightness(1.5);
    box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #d6d6e7;
    transform: translateY(-4px);
}

.btn-class p {
    font-size: 3vh;
    font-family: 'Crosant', sans-serif;
    margin-left: 1vw;
    margin-right: 1vw;

}


.populated {
    font-family: 'Basic', sans-serif;
    font-size: 2.75vh;
    text-align: center;
    border: #7d136c solid 2px;
    padding: .25em 3em;
    border-radius: 18px;
    background-color: rgba(255, 255, 255, 0.698);
    box-shadow: 0px 0px 10px rgba(109, 7, 75, 0.989);
}

.poptod {
    font-size: 4.5vh;
}

.pulse {
    animation: pulse 1s infinite;
    display: inline-block;
    color: #7d136c;
    font-weight: bold;
}

.tod-body .back-section {
    margin-top: 2vh;
}


@media (max-width: 800px) {
    .tord-section {
        margin-left: 2vh;
    }

    .btn-class button {
        font-size: 3.75vh;
        
    }

}