@font-face {
    font-family: 'Crosant';
    src: url('../fonts/Croissant_One/CroissantOne-Regular.ttf') format('truetype')
}

@font-face {
    font-family: 'Basic';
    src: url('../fonts/DM_Serif_Display/DMSerifDisplay-Regular.ttf') format('truetype')
}

.welcome-text{
    text-align: center;
    font-family: 'Basic', sans-serif;
    font-size: 3vh;
}
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -13vh;
}

.image-container img {
    max-width: 100%;
    height: auto;
    filter: drop-shadow(12px 12px 7px rgba(57, 3, 39, 0.989));
}

.link-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.link-section button {
    font-size: 4vh;
    border-radius: 25px;
    margin-top: 5vh;
    padding: .35em;
    background-color: #611054;
    color: #f4eff4;
    font-family: 'Crosant', sans-serif;
    border: none;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 8px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 13px 16px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: 100%;
}

.link-section button::after {
    background-clip: padding-box;
    background-color: #7d136c;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.link-section button:focus {
    user-select: auto;
}

.link-section button:hover:not(:disabled) {
    filter: brightness(1.5);
    -webkit-filter: brightness(1.5);
}

.wtf {
    display: flex;
    justify-content: center;
    margin-top: 3vh;

}

.wtf button {
    font-size: 2vh;
    border-radius: 25px;
    margin-top: 5vh;
    padding: .25em;
    background-color: #611054;
    color: #f4eff4;
    font-family: 'Crosant', sans-serif;
    border: none;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 8px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 13px 16px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: 100%;
}

.wtf button::after {
    background-clip: padding-box;
    background-color: #7d136c;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.wtf button:focus {
    user-select: auto;
}

.wtf button:hover:not(:disabled) {
    filter: brightness(1.5);
    -webkit-filter: brightness(1.5);
}

@media (max-width:912px) {
    .image-container {
        margin-top: -7vh;
        ;
    }

    .link-section {
        flex-direction: column;
        gap: 15px;
    }

    .link-section button {
        font-size: 3vh;
    }
}