@font-face {
    font-family: 'Crosant';
    src: url('../fonts/Croissant_One/CroissantOne-Regular.ttf') format('truetype')
}

@font-face {
    font-family: 'Basic';
    src: url('../fonts/DM_Serif_Display/DMSerifDisplay-Regular.ttf') format('truetype')
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -13vh;
}

.image-container img {
    max-width: 100%;
    height: auto;
    filter: drop-shadow(12px 12px 7px rgba(57, 3, 39, 0.989));
}

.link-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}

.link-section button {
    font-size: 5vh;
    border-radius: 25px;
    margin-top: 5vh;
    padding: .25em;
    background-color: #7d136c;
    color: #f4eff4;
    font-family: 'Crosant', sans-serif;
    border: none;
}

.wtf {
    display: flex;
    justify-content: center;

}

.wtf button {
    font-size: 3vh;
    border: none;
    margin-top: 5px;
    padding: .25em;
    font-family: 'Basic', sans-serif;
}

.wtf button:hover {
    text-decoration: underline;
}

@media (max-width:912px) {
    .image-container{
        margin-top: -7vh;;
    }
    .link-section button {
        font-size: 3vh;
    }
}