@font-face {
    font-family: 'Crosant';
    src: url('../fonts/Croissant_One/CroissantOne-Regular.ttf') format('truetype')
}

@font-face {
    font-family: 'Basic';
    src: url('../fonts/DM_Serif_Display/DMSerifDisplay-Regular.ttf') format('truetype')
}

.container {
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container img {
    max-width: 100%;
    height: auto;
}

.game-container {
    background-color: transparent;
    border-radius: 10px;
    background-color: rgb(234, 222, 234);
    box-shadow: 0px 0px 10px rgba(57, 3, 39, 0.989);
    padding: 20px;
    width: 90vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-right: 2vw;
    margin-left: 2vw;
}

.word-container {
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}

.letter {
    padding: 25px 20px;
    border: solid 1px #7d136c;
    cursor: pointer;
    font-size: 5vh;
    border-radius: 55px;
    background-color: #F4EFF4;
    font-family: 'Basic', sans-serif;
    width: 5vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #d6d6e7;
}

.letter.visible {
    color: #7d136c;
}

.word-description {
    margin-bottom: 1vh;
    margin-top: 1vh;
    font-size: 2.5vh;
    font-family: 'Basic', sans-serif;
}

.restart-button,
.remove-button,
.guess-button {
    appearance: none;
    padding: 8px 16px;
    margin: 0;
    margin-right: 3px;
    margin-bottom: 1vh;
    border: solid 2px #7d136c;
    cursor: pointer;
    font-size: 2vh;
    border-radius: 15px;
    background-color: transparent;
    color: #7d136c;
    font-family: 'Basic', sans-serif;
    font-weight: 600;
    line-height: normal;
    outline: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
    min-width: 0;

}
.restart-button{
    padding: 4px 8px;
}

.restart-button:disabled,
.remove-button:disabled,
.guess-button :disabled {
    pointer-events: none;
}

.restart-button:hover,
.remove-button:hover,
.guess-button:hover {
    color: #fff;
    background-color: #7d136c;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.guess-button {
    font-size: 3vh;
    font-family: 'Crosant', sans-serif;
}


.letter-button {
    display: inline-block;
    margin-right: 3px;
    margin-bottom: 3px;
    outline: 0;
    border: 0;
    cursor: pointer;
    transition: box-shadow 0.15s ease, transform 0.15s ease;
    will-change: box-shadow, transform;
    background: #F4EFF4;
    box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #d6d6e7;
    padding: 12px 24px;
    font-size: 3vh;
    border-radius: 55px;
    color: #000;
    font-family: 'Basic', sans-serif;
}

.letter-button:hover {
    box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #d6d6e7;
    transform: translateY(-2px);
}

.letter-button:active {
    box-shadow: inset 0px 3px 7px #d6d6e7;
    transform: translateY(2px);
}

.letter-button.selected {
    background: #c3a7c3;
    color: rgb(89, 89, 89);
}

.hints {
    margin-top: 2vh;
    font-family: 'Basic', sans-serif;
    font-size: 2vh;
}

.hint-button {
    appearance: none;
    padding: 4px 8px;
    margin: 0;
    margin-right: 3px;
    margin-bottom: 1vh;
    border: solid 2px #7d136c;
    cursor: pointer;
    font-size: 1.8vh;
    border-radius: 15px;
    background-color: transparent;
    color: #7d136c;
    font-family: 'Basic', sans-serif;
    font-weight: 600;
    line-height: normal;
    outline: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
    min-width: 0;
}

.hint-button :disabled {
    pointer-events: none;
}

.hint-button:hover {
    color: #fff;
    background-color: #7d136c;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}



@media (max-width: 914px) {
    .container {
        margin-top: 15vh;

    }

    .container img {
       margin-top: 2vh;
    }

    .letter-button {
        padding: 3px 6px;
    }

    .letter {
        padding: 3px 6px;
        border: solid 1px #7d136c;
        cursor: pointer;
        font-size: 3.2vh;
        border-radius: 55px;
        background-color: #F4EFF4;
        font-family: 'Basic', sans-serif;
        width: 5vw;
        height: 5vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 1px;
    }
}