@font-face {
    font-family: 'Basic';
    src: url('../fonts/DM_Serif_Display/DMSerifDisplay-Regular.ttf') format('truetype')
}

.wtf-container h2 {
    text-align: center;
    font-family: 'Basic', sans-serif;
    font-size: 4vh;
}

.wtf-container p {
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
    font-family: 'Basic', sans-serif;
    font-size: 2.3vh;
}

.wtf {
    display: flex;
    justify-content: center;

}

