@font-face {
    font-family: 'Basic';
    src: url('../fonts/DM_Serif_Display/DMSerifDisplay-Regular.ttf') format('truetype')
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
    font-family: 'Basic', sans-serif;
    margin-top: 0;
    position: fixed;
    bottom: 0;
}

.footer-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;

}

.sig img {
    max-width: 50%;
    padding-bottom: 2vh;
}




@media (max-width: 800px) {
    .sig img {
        width: 35%;
        padding-bottom: 5vh;
    }
}