.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-container img {
    max-width: 100%;
    height: auto;
    filter: brightness(1.3);
    -webkit-filter: brightness(1.3);
}

