.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-container img {
    max-width: 100%;
    height: auto;

}

@keyframes floating {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

.header-container img {
    animation: floating 3s ease-in-out infinite;
    /* Adjust duration and timing function as needed */
}