@font-face {
    font-family: 'Basic';
    src: url('../fonts/DM_Serif_Display/DMSerifDisplay-Regular.ttf') format('truetype')
}

.timer p {
    margin: 0;
    font-family: 'Basic', sans-serif;
    font-size: 3.5vh;
    color: #7d136c;
    text-align: center;
}

@media (max-width:875px) {
    .timer {
        margin-top: 2vh;
    }
}